build/*
fltk/*
.vscode/.cmaketools.json
libuavv_video.dll
uavv_video.hw
uavv_video.lic
.DS_Store
res/main_panel.cxx
res/main_panel.h
res/run_fluid.bat
CVTool.exe
CVToolOld.exe
.vscode/last.sql
.vscode/temp.sql
mathgl/*